
@{
    ViewBag.Title = "MVC de Cookie - Çerez Kullanımı";
}

<h2>MVC de Cookie - Çerez Kullanımı</h2>

<p>
    Cookie kavramı Mvc ye özel bir yapı değildir, web dünyasının genelinde vardır.
</p>

<p>
    Çerezler kullanıcının cihazında saklanan küçük verilerdir.
</p>

<p>
    Güvenlik gerektiren kullanıcı adı, email, şifre vb gibi verileri çerezde tutmamak gerekir.
</p>

<p>
    Uygulamaya giriş yapan kullanıcıyı tanımak ve sonraki girişlerinde hatırlamak gibi işlemler için sıklıkla kullanılır.
</p>

@Html.ActionLink("Cookie Oluştur", "CookieOlustur")
@Html.Raw(TempData["mesaj"]) @*html.raw metodu tempdata nın içerisindeki html elementini normal metin değilde html elementi olarak gösterir.*@

<hr />

@Html.ActionLink("Cookie Oku", "CookieOku")

<hr />

@Html.ActionLink("Cookie Sil", "CookieSil")
@Html.Raw(TempData["mesaj2"])























